html, body {
    width: 100%;
    height: 100%;
     margin: 0;
    padding: 0;
 overflow-x: hidden;
}

h1 {
   text-align: center;}

img { 
    max-width: 100%;
    height: auto;
    display: block;
}

#index { 
    background-image: url("./assets/Nubes%20en%20el%20cielo%20.avif");
    background-size: cover;
}

#index h1 {
    font-size: 48px;
}
#index a {
    font-size: 24px;
}

#escena6 { 
    background-image: url("./assets/Cielo%20Rosado.jpg");
    background-size: cover;
    
}

a {
    font-size: 20px;
    padding: 10px 15px;
    display: inline-block;
    margin: 10px ;
    color: #f34eed;
}

#escena4 {
    background-image: url("./assets/Cielo%20estrellado.jpg");
    background-size: cover;
}

#escena4 h1,
#escena4 a {
    color: white;
}

#escena5{
    background-image:url("./assets/Sol.jpg");
    background-size: cover;
}

#escena2{ 
    background-image: url("./assets/\ mar\ .jpg");
    background-size: cover;
}

#escena3a {
background-color: rgb(121, 179, 240);
}


#dibujo {
    width: 40vw;
    height: 40vw;
    background-color: rgb(215, 106, 186);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: cambiarelcolor;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

@keyframes cambiarelcolor {
    0% { background-color: rgb(0, 31, 188); }
    50% { background-color: rgb(106, 186, 215); }
    100% { background-color: rgb(106, 150, 215); }
}